.project-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.project-grid-container {
    display: grid;
    row-gap: 4rem;
    column-gap: 10rem;
    border-radius: 10px;
    max-width: 1300px;
    margin: 10rem auto;
}

.project-text {
    width: 100%;
    position: relative;
    color: var(--white);
}

.project-text::before {
    content: "";
    display: block;
    margin: 10px auto 2rem;
}

.project-heading {
    margin-bottom: 20px;
}

.plot-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.plot-top {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    border-radius: 12;
    width: 100%;
}

.plot-iframe {
    width: 960px;
    height: 600px;
    border: none;
    flex-shrink: 0;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.plot-bird-list {
    max-width: 100%;
    flex-shrink: 0;
}

.plot-bird-list h5 {
    margin-bottom: 8px;
    font-size: 16px;
}

.plot-bird-list ul {
    max-width: 900px;
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.plot-description {
    max-width: 900px;
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}